.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100svh;
  gap: 50px;
  padding: 100px;
}

.product {
  width: 200px;
  height: 275px;
  padding: 20px 20px 5px 20px;
  border-radius: 10px;
  border: 2px solid rgb(71, 71, 71);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 238, 238);
  position: relative;
  text-align: center;
}
.product>h3{
  justify-self: flex-start;
  height: 43px;
}
.product>p{
  justify-self: flex-end;
}

.div-img {
  /* width: 75%; */
  height: 130px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.div-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart {
  position: fixed;
  transition: all 0.5s;
  width: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100svh;
  top: 0;
  right: 0;
  background-color: rgb(222, 222, 222);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.cart.opened {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.5s ease-in-out;
}

.cart-img {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  cursor: pointer;
  transition: all 0.5s;
}

.cart-img:hover {
  transform: scale(1.1);
}

.carrito {
  width: 40px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
  cursor: pointer;
  transition: all 0.5s;
}

.carrito:hover {
  transform: scale(1.1);
}
.divProductCarrito:first-of-type{
  margin-top: 100px;
}
.divProductCarrito{
  width: 100%;
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:30px;
  border-bottom: 1px ridge rgba(3, 3, 3, 0.1);
}
.imgProductSelected {
height:80px;
margin-left: 20px;
object-fit: contain;
filter: drop-shadow(5px 5px 5px #000000);
}
.divnamePrice {
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.divButtons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom:10px;
}
.divButtons>button {
  border: none;
  border-radius: 100%;
  padding: 3px;
  filter: drop-shadow(0px 0px 3px rgba(56, 41, 110, 0.7));
}

.divButtons>button:hover{
  background-color: #555;
}

@media (max-width: 500px) {
  .cart.opened {
    width: 100%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


